// Font family
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');
$font-roboto        : 'Roboto';
$font-roboto-mono   : 'Roboto Mono';

// Font sizes
$font-size-20       : 20px;
$font-size-16       : 16px;
$font-size-18       : 18px;
$font-size-28       : 28px;
$font-size-36       : 36px;
$font-size-48       : 48px;
$font-size-64       : 64px;


// Colors
$cornflower-blue    :#6C63FF;
$mountain-meadow    :#17B890;
$bottle-green       :#082D0F;