// Font family
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');
$font-roboto        : 'Roboto';
$font-roboto-mono   : 'Roboto Mono';

// Font sizes
$font-size-12       : 12px;
$font-size-20       : 18px;
$font-size-16       : 16px;
$font-size-18       : 18px;
$font-size-24       : 24px;
$font-size-28       : 28px;
$font-size-36       : 36px;
$font-size-48       : 48px;
$font-size-64       : 64px;


// Colors
$cornflower-blue    :#6C63FF;
$mountain-meadow    :rgb(0, 255, 123);
$mountain-meadow-hover    :rgb(0, 300, 150);
$bottle-green       :#082D0F;
$grey-dark          :#1F2022;
$grey-medium        :#576784;
$grey-light         :#DEDDDD;

// BORDERS
$border-radius-65   : 65px;