//Settings, mixins + main layouts styling
@import '_mixins.scss';
@import '_variables.scss';

body {
    margin: 0;
}
// h1, h2 {
//     font-family: $font-roboto;
// }

h1, h2, p, li {
    font-family: $font-roboto-mono;
}

.section-100 {
    width: 100vw;
}

.section-85 {
    width: 95vw;
}

.section_50-50 {
    @include flex-between;
}

.center {
    margin: 0 auto;
}

.padding-64 {
    padding: 64px 0;
}

.center {
    text-align: center;
    margin: 0 auto;
}

@include desktop {

    .section-85 {
        width: 85vw;
    }
}
