@import '../base/mixins';
@import '../base/variables';

.section_50-50 {

    &_right {

        img {
           width: 300px;
           border-radius:8px
        }
    }
}

@include desktop {

    .section_50-50 {

        &_left {
            text-align: left;
            max-width: 600px;
        }
    }
}