@import '../base/mixins';
@import '../base/variables';

#contact {
    background: $grey-dark;
}
.contact-wrapper {
    position: relative;
    min-height: 1100px;
    top: 100px;

    .contact-form {
        flex-basis: 50%;
        padding: 2rem 1rem;
        background: white;
        box-shadow: -1px 2px 17px 5px rgba(151,152,153,0.7);
        border-radius: 8px;  

        .form-group {
            text-align: left;
            margin-bottom: 2rem;

            label {
                margin-bottom: 1rem;
            }

            input, textarea {
                width: 90%;
                height: 38px;
                padding: 0 1rem;
                color: $grey-medium;
                font-size: $font-size-16;
                outline:none;
                border: 1px solid $grey-light;
                border-radius: 8px;
                cursor: pointer;

                &:hover, &:focus {
                    border: 1px solid $mountain-meadow;
                }
            }

            textarea {
                height: 160px;
                padding: 1rem;
            }
        }
        .submit-button {
            width: 90%;
            background: $mountain-meadow;
            border-radius: 8px;
            padding: 1rem;
            cursor: pointer;

            button {
                background: none;
            }

            &:hover {
                background: $mountain-meadow-hover;
            }
        }
    }

    .contact-text {
        flex-basis: 30%;
        text-align: left;

        h3, p {
            color: white;
        }
    }
}

@include desktop {

    .contact-wrapper {
        min-height: 800px;
        top: 0;
        @include flex(space-between, center);

        .contact-text {
            position: relative;
            top:-200px;
        }

        .contact-form {

            .form-group-double {
                @include flex(space-evenly, normal)
            }
        }
    }
}