@import '../base/mixins';
@import '../base/variables';

#contact {
    background-image: url('/images/gradient_bg.jpg'); 
    background-size: cover;
}

.contact-wrapper {
    position: relative;
    min-height: 1100px;
    top: 100px;

    .contact-form {
        min-height: 390px;
        flex-basis: 50%;
        padding: 2rem 1rem;
        background: white;
        box-shadow: -1px 2px 17px 5px rgba(151,152,153,0.7);
        border-radius: 8px;  

        .btn-next {
            background-color: #121212;
            color: white;
            padding: 0.5rem 2rem;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
            outline: none;
        }

        .btn-back {
            border: 1px solid #121212;
            padding: 0.5rem 2rem;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
            outline: none;
            background:white;
        }

        .form_steps {

            &-count {
                font-size: $font-size-16;

                .current-step {
                    font-size: $font-size-18;
                    font-weight: bold;
                }
            }

            //STEP 1
            &-types {
                @include flex(space-evenly, center);

                .type {
                    width: 120px;
                    height:150px;
                    background: white;
                    box-shadow: -1px 2px 7px 5px rgba(151,152,153,0.3);
                    border-radius: 8px;  
                    padding: 1rem;
                    cursor: pointer;

                    &:hover {
                        box-shadow: -1px 2px 17px 5px rgba(151,152,153,0.3);  
                    }
                }

                .active-type {
                    box-shadow: -1px 2px 17px 5px rgba(151,152,153,0.3);
                    border: 2px solid $cornflower-blue;
                }
            }

            .form_type-icon {
                height:70px;
            }
        }

        .form-group-double {
            @include flex(space-between, normal)
        }

        .form-group {
            text-align: left;
            margin:1rem 0.5rem;

            label {
                margin-bottom: 1rem;
            }

            input, textarea {
                width: 90%;
                height: 38px;
                padding: 0 1rem;
                color: $grey-medium;
                font-size: $font-size-16;
                outline:none;
                border: 1px solid $grey-light;
                border-radius: 8px;
                cursor: pointer;
                margin-top:0.5rem;

                &:hover, &:focus {
                    border: 1px solid $cornflower-blue;
                }
            }

            #email {
                width:95%;
            }

            textarea {
                height: 160px;
                padding: 1rem;
                width: 95%;
            }
        }
        .btn-submit {
            font-size: $font-size-16;
            background: #121212;
            border-radius: 8px;
            padding: 1rem 1.5rem;
            cursor: pointer;
            border: none;
            color:white;
        }
    }

    .contact-text {
        flex-basis: 30%;
        text-align: left;
        margin-bottom: 50px;

        h3, p {
            color: white;
        }
    }
}

@include desktop {

    .contact-wrapper {
        min-height: 700px;
        top: 0;
        @include flex(space-between, center);

        .contact-text {
            position: relative;
            top:-110px;
            margin-bottom: 0;
        }

        .contact-form {

            .form-group-double {
                @include flex(space-evenly, normal)
            }
        }
    }
}