@import '../base/mixins';
@import '../base/variables';

.footer {

    &-wrapper {
        background-color: $grey-dark;
        padding: 1rem 5rem;

        a ,p, span {
            color: white;
            text-decoration: none;
            font-size: $font-size-12;
        }

        &-social {
            a {
                margin-right:1rem;
                margin-top: 2rem;
            }
        }
    }

    &-copyright-wrapper {
        background-color: $grey-light;

        p {
            margin: 0;
            padding: 1rem 0;
            font-size: $font-size-12;
        }
    }
    
}

@include desktop {
    
    .footer {
        &-wrapper {
            @include flex(space-between, normal);
        }
    }
}