@import '../base/mixins';
@import '../base/variables';

.header {
    position: relative;
    top: -50px;
    background: url('/images/hero_gradient.png') no-repeat;    
    height: 450px;

    &_text {
        position: relative;
        top: 180px;
    }

    &_skill-circles {
        display:none;
    }
}

@include desktop {

    .header {
        top: -40px;
        height: 430px;
        background-position-x: 0;
        padding: 250px 0;

        &_text {
            width:92vw;
            position: relative;
            top: 0;
            text-align: right;
        }

        &_skill-circles {
            @include flex(center, center);
            padding-left: 5%;
        }
    }
}