@import '../base/mixins';
@import '../base/variables';

.header {
    position: relative;
    top: -50px;
    background: linear-gradient(180deg, #3F3D56 0%, rgba(255, 255, 255, 0.99) 100%);    
    height: 450px;

    &_text {
        position: relative;
        top: 180px;
    }

    &_skill-circles {
        display:none;
    }
}

@include desktop {

    .header {
        top: -40px;
        height: 430px;
        background-position-x: 0;
        padding: 150px 0;

        &_text {
            position: relative;
            top: 0;
        }

        &_skill-circles {
            @include flex(center, center);
            padding-left: 5%;
        }
    }
}