@import '../base/mixins';
@import '../base/variables';

.navigation {
    position: absolute;
    top:0;
    z-index: 1;
    height: 50px;
    background-color: white;
    box-shadow: 0 2px 12px 0 #e2eaf6;

    &_wrapper {
        height: 100%;
    }

    &_logo {
        @include flex(space-between, center);
        position: relative;
        z-index:2;
        padding-top: 0.7rem;
        
        &-svg {
            width: 90px;
        }
    }

    &_hamburger {
        display: block;
    }

    &_signature {
        font-family: 'Caveat', cursive;
        font-size: $font-size-24;
    }

    &_menu {
        list-style: none;
        background: white;
        text-align: center;
        margin: 0;
        padding: 0;
        position: relative;
        top: -11px;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8s;
        transition: max-height 0.8s;


        &.active {
            max-height: 250px;
        }

        &-item {
            margin: 1rem 2rem;

            a {
                text-decoration: none;
                color: $grey-dark;
                font-size: $font-size-16;
            }

            &:last-child {
                @include cta(#1e9cf9, white);
                padding: 0.5rem 1.5rem;

                a {
                    color: white;
                }
            }
        }
    }
}

@include desktop {

    .navigation {
        height: 60px;
        padding-top: 0;

        &--transparent {
            background-color: white;
            box-shadow: 0 2px 12px 0 #e2eaf6;
        }

        &.scroll {
            background-color: white;
            box-shadow: 0 2px 12px 0 #e2eaf6;

            .navigation_signature {
                display:block;
            }
        }
        
        &_wrapper {
            @include flex(center, center);
        }

        &_hamburger {
            display:none;
        }

        &_logo {
            padding-top: 0;
        }

        &_logo-svg {
            display:none;
        }

        &_signature {
            display: none;
        }
    
        &_menu {
            display: block;
            top: 0;
            @include flex(center, center);
            width: 450px;
            background: none;
            overflow: visible;

            &-item {
                cursor: pointer;

                a {
                    color: $grey-dark;
                }

                &:last-child {
                    margin: 0;

                    &::after {
                        display: none;
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    position: relative;
                    top: 14px;
                    width: 0;
                    height: 4px;
                    background: $mountain-meadow;
                    transition: width .3s;
                }

                &:hover:after {
                    width:100%;
                }
            }
        }
    } 
}