@import '../base/mixins';
@import '../base/variables';

.skills {
    @include flex(center, center);
    flex-wrap: wrap;
}

.skills-item {
    font-size: $font-size-12;
    padding:0.75rem;
    background: #DDA6F8;
    border-radius: $border-radius-65;
    margin: 0.5rem;
}
.section-cards {

    &_wrapper {

        .card {
            box-shadow: -1px 2px 17px -6px rgba(151,152,153,0.7);
            border-radius: 16px;            
            max-width: 450px;
            padding: 16px;
            margin-bottom: 2rem;
            position: relative;
            height:700px;

            &-image {
                width: 200px;
            }

            &-title {
                margin: 5px 0;
            }

            &-list {
                text-align: left;
                padding-left: 22px;

                &-item {
                    margin-bottom: 0.5rem;
                    line-height: 1.5;
                }
            }
        }

        .skills {
            position: absolute;
            bottom:16px;
        }
    }
}

@include desktop {

    .section-cards {

        &_wrapper {
            @include flex(space-around, normal);
    
            .card {
                padding: 32px;
                margin-bottom: 0;

                &-image {
                    width:300px;
                    height: 180px;
                }

                &-title {
                    margin: 2rem 0;
                }

                &-list {
                    text-align: left;
                    padding-left: 32px;

                    &-item {
                        margin-bottom: 1rem;
                        line-height: 2;
                    }
                }
            }
        }
    }
}